html,
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

.conteiner {
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding-top: 2.3rem;
    padding-bottom: 2.6rem;
    color: #FFFF;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0.63;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    opacity: 100%;
}

.header__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__telephone-img {
    max-width: 2rem;
    height: 2rem;
}

.header__maps-img {
    width: 1.5rem;
    height: 2.5rem;
}

.header__inst-img {
    width: 3rem;
    height: 2.8rem;
}

.header__inst span {
    line-height: 1.07;
}

.header__telephone-img,
.header__maps-img,
.header__inst-img {
    margin-right: 1.5rem;
}

.header__telephone,
.header__maps,
.header__inst {
    display: flex;
    align-items: center;
}

main {
    margin-top: 12.4rem;
}

.main-display__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12.2rem;
    margin-left: 12.2rem;
}

.main-display__logo {
    display: flex;
    align-items: center;
    margin-top: 4.7rem
}

.main-display__logo-img {
    width: 10rem;
    height: 6rem;
    margin-right: 1.1rem;
}

.main-display__header {
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 1.17;
}

.main-dispaly__nav {
    display: flex;
}

.main-dispaly__nav li {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.17;
    color: #737373;
    margin-top: 5.6rem;
}

.main-dispaly__nav li:not(:last-child) {
    margin-right: 2.5rem;
}

.main-display__center {
    display: flex;
    justify-content: space-between;
}

.main-display__center-left {
    padding-top: 19rem;
}

.main-display__center-header {
    margin: 0;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.18;
    margin-bottom: 1rem;
    margin-left: 12.2rem;
}

.main-display__center-subheader {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.16;
    margin-bottom: 2rem;
    margin-left: 12.2rem;
}

.main-display__center-button {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.15rem;
    text-align: center;
    padding: 1.8rem 3rem 1.8rem 3rem;
    color: #FFFF;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-left: 12.2rem;
}

.main-display__center-right {
padding-top: 4.2rem;
}

.main-display__back{
    width: 74.5rem;
    height: 52.2rem;
    overflow: visible;
    background-image: url("../images/decorate_back.svg");
    background-repeat: no-repeat;
}

.mats {
position: absolute;
top: 14.2rem;
    width: 53.3rem;
    height: 68.6rem;
    background-image: url("../images/mats.svg");
}

.mats {
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
}

@keyframes rotate{
    100%{
        transform: rotateY(360deg);
    }
}

.about {
    padding-top: 10rem;
}

.about__header {
    font-weight: normal;
    font-size: 5rem;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 15rem;
}

.about__header span {
    background: linear-gradient(90deg, rgba(185, 1, 96, 1) 0%, rgba(61, 91, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width:130rem){
.about__items .about__item:not(:last-child) {
    margin-right: 6.1rem;
}
}

.about__item {
    width: 29%;
    box-shadow: 0.2rem 0.2rem 4rem pink;
    border-radius: 0.9rem;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
}

.about__item:hover{
    box-shadow: 0.6rem 0.6rem 8rem rgb(255, 134, 154);
    transform: translateY(-0.7rem);
    transition: all 2s;
}

.about__item:not(:hover){
    transition: all 2s;
}

.about__item-img {
    width: 100%;
    height: 23.4rem;
    margin-bottom: 1rem;
    margin-top: -1.3rem;
    border-radius: 1rem;
    padding: 0rem;
}

.about__item-description {
    width: 100%;
}

.about__item-header {
    margin: 0;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.16;
    margin-left: 2.2rem;
    margin-right: 3.3rem;
    margin-bottom: 1rem;
}

.about__item-text {
    margin: 0;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.14;
    margin-left: 2.2rem;
    margin-right: 3.3rem;
    margin-bottom: 2.3rem;
}

.footer {
    position: relative;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding: 17rem 15rem 9.6rem 15rem;
}

.footer__header {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.14;
}

.footer__inst-img {
    width: 3.3rem;
    height: 3.3rem;
    object-fit: contain;
}

.footer_decor_small {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 11rem;
    height: 12.5rem;
}

.footer_decor_big {
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 26rem;
}

.footer__wrap li {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.14;
}

.forComments {
    margin-top: 23.5rem;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    height: 35.7rem;
}

.wrapper {
    width: 100%;
    padding-top: 4.3rem;
    padding-bottom: 7.3rem;

}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 45rem;
    height: 24.1rem;
}

.forWords {
    width: 100%;
    height: 19.1rem;
    background-color: white;
    border-radius: 0.9rem;
    position: relative;
    top: 5rem;
}

.images {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    position: relative;
    top: -5rem;
}

.first {
    background-image: url("../images/otz1\ 1.png");
    background-repeat: no-repeat;
}

.second {
    background-image: url("../images/otz2\ 1.png");
    background-repeat: no-repeat;
}

.third {
    background-image: url("../images/otz3\ 1.png");
    background-repeat: no-repeat;
}

.words {
    margin: 0 auto;
    width: 37.7rem;
    height: 7.7rem;
    margin-bottom: 1.2rem;
    position: relative;
    top: -3rem;
}

.words p {
    margin: 0;
}

.comment {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-bottom: 0.64rem;
}

.nameComment {
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #8E8E8E;
}

.circle {
    border-radius: 5rem;
    background-size: 10rem;
}

.background__items {
    position: absolute;
    z-index: 0;
    width: 75.7rem;
    height: 58.1rem;
    background-image: url('/images/background_items.png');
    background-repeat: no-repeat;
    background-position:center;
}

.lastUlLI{
    padding-top:2rem ;
}

.image-1{
    background-image: url('/images/item_1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.image-2{
    background-image: url('/images/item_2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.image-3{
    background-image: url('/images/item_3.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.main-display__logo-img{
    background-image: url('/images/main_icon.svg');
    background-repeat: no-repeat;
}

.anchor a{
    text-decoration: none;
    color: black;
}

.anchor a{
    cursor: pointer;
}

button:hover{
    background: linear-gradient(95.2deg, #2E3192 2.23%,  #B90160 99.51%);
    font-size: x-large;
    transition: font-size 3s;
}

.card-1{
    animation-name:one;
    animation-duration: 30s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes one{
    25%{
        transform: translate(50.7rem);
    }

    75%{
        transform:translate(101.3rem);

    }
}

.card-2{
    animation-name:two;
    animation-duration: 30s;
    animation-iteration-count:infinite;
    animation-timing-function: linear; 
}

@keyframes two{
    25%{
        transform: translate(50.7rem);
    }

    75%{
        transform:translate(-50.7rem);

    }

}

.card-3{
    animation-name:three;
    animation-duration: 30s;
    animation-iteration-count:infinite; 
    animation-timing-function: linear;
}

@keyframes three{
    25%{
        transform: translate( -101.3rem);
    }

    75%{
        transform:translate(-50.7rem)
    }

}



